<!DOCTYPE html>
<html lang="en">
<head>
    <title>pinba_wx</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/weui.css">
    <link rel="stylesheet" href="../css/base.css">
    <style>
    </style>
</head>
<body>

<div class="weui-tab">
  <div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item_active">
      <div class="weui-cells">
        <div class="weui-cell weui-cell_access bgc-f5">
          <div class="weui-cell__hd"><img src=""></div>
          <div class="weui-cell__bd">
            <p>当前绑定位置</p>
          </div>
          <div class="weui-cell__ft">南沙宿舍区38栋904</div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><img src=""></div>
          <div class="weui-cell__bd">
            <p>姓名</p>
          </div>
          <div class="weui-cell__ft pr-25">李小龙</div>
        </div>
        <div class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src=""></div>
          <div class="weui-cell__bd">
            <p>手机</p>
          </div>
          <div class="weui-cell__ft">13538776623</div>
        </div>
        <div class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src=""></div>
          <div class="weui-cell__bd">
            <p>故障项目</p>
          </div>
          <div class="weui-cell__ft">请选择</div>
        </div>
      </div>
    </div>
    <div id="tab2" class="weui-tab__bd-item">
      <h1>页面二</h1>
    </div>
  </div>

  <div class="weui-tabbar">
    <a href="#tab1" class="weui-tabbar__item weui-bar__item_on">
      <!-- <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span> -->
      <div class="weui-tabbar__icon">
        <img src="./images/icon_nav_button.png" alt="">
      </div>
      <p class="weui-tabbar__label">宿舍报修</p>
    </a>
    <a href="#tab2" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="./images/icon_nav_cell.png" alt="">
      </div>
      <p class="weui-tabbar__label">报修记录</p>
    </a>
  </div>
</div>
</body>
</html>
<script src="../js/jquery.js"></script>
<script src="../js/global.js"></script>